@tailwind base;
@tailwind components;
@tailwind utilities;

/* ========================================================================================================================== */
/* GLOBAL */

/* HTML, BODY */
html, body {
  @apply jtl-font-rubik jtl-text-jtldark;
}

/* Animations */
@keyframes jtl-sliding {
  0%, 100% {
    transform: translateX(-25%);
    animation-timing-function: cubic-bezier(0.8,0,1,1);
  }
  50% {
    transform: none;
    animation-timing-function: cubic-bezier(0,0,0.2,1);
  }
}

.jtl-animate-sliding {
  animation: jtl-sliding 1s infinite;
}

/* Container */
.jtl-custom-container {
  @apply jtl-container jtl-max-w-screen-xl jtl-mx-auto;
}

/* Header */
.jtl-header-sticky {
  @apply jtl-sticky jtl-top-0 jtl-bg-white jtl-z-10 -jtl-translate-y-[100px] -jtl-mt-[61px] lg:-jtl-mt-[81px] jtl-transition-all jtl-duration-200;

  &.active {
    @apply jtl-translate-y-0 jtl-mt-0;
  }
}

/* Nav: Topbar */
/* Search Form */
.jtl-search-form {
  @apply jtl-flex jtl-flex-row jtl-items-center;

  .jtl-search-input {
    @apply jtl-bg-jtllight/10 jtl-py-2 jtl-px-4 jtl-pr-12 jtl-outline-none jtl-text-jtllight focus:jtl-bg-jtllight/0 jtl-border-[1px] jtl-border-jtllight/20 jtl-rounded jtl-text-base;
  }

  .jtl-search-button {
    @apply -jtl-ml-[32px];

    .jtl-search-icon {
      @apply jtl-text-jtllight/50 hover:jtl-text-jtllight;
    }
  }

  &.light {
    .jtl-search-input {
      @apply jtl-bg-jtldark/10 jtl-text-jtldark focus:jtl-bg-jtldark/0 jtl-border-jtldark/20;
    }

    .jtl-search-button {
      .jtl-search-icon {
        @apply jtl-text-jtldark/50 hover:jtl-text-jtldark;
      }
    }
  }

  &.dropdown {
    .jtl-search-input {
      @apply jtl-bg-jtldark/0 jtl-text-jtlprimary focus:jtl-bg-jtldark/0 jtl-border-jtldark/20;
    }

    .jtl-search-button {
      .jtl-search-icon {
        @apply jtl-text-jtlprimary/50 hover:jtl-text-jtlprimary;
      }
    }
  }
}

/* Contact Nav */
.jtl-contact-nav {
  ul {
    @apply jtl-flex jtl-flex-row jtl-items-center jtl-gap-8;

    li {
      a {
        @apply jtl-flex jtl-flex-row jtl-items-center jtl-gap-2;

        .jtl-icon,
        .jtl-text {
          @apply jtl-text-jtllight;
        }

        &:hover {
          .jtl-icon,
          .jtl-text {
            @apply jtl-text-jtlsecondary;
          }
        }
      }
    }
  }
}

/* Socmed Nav */
.jtl-socmed-nav {
  ul {
    @apply jtl-flex jtl-flex-row jtl-items-center jtl-gap-4;

    li {
      a {
        .jtl-icon {
          @apply jtl-text-jtllight;
        }

        &:hover {
          .jtl-icon {
            @apply jtl-text-jtlsecondary;
          } 
        }
      }
    }
  }
}

/* Nav: Menu */
/* Logo */
.jtl-logo {
  @apply jtl-w-auto jtl-h-9;
}

/* Menu Nav */
.jtl-menu-nav {
  > ul {
    @apply jtl-flex jtl-flex-row jtl-items-center jtl-gap-8;

    > li {
      @apply jtl-relative;

      > a {
        @apply jtl-inline-block lg:jtl-flex jtl-flex-row jtl-items-center jtl-gap-2 jtl-py-0 lg:jtl-py-4;

        .jtl-text {
          @apply jtl-text-jtlprimary jtl-line-clamp-1;
        }

        .jtl-icon {
          @apply jtl-text-jtlprimary;
        }

        &:hover {
          .jtl-icon,
          .jtl-text {
            @apply jtl-text-jtlsecondary;
          }

          + .jtl-submenu-wrap {
            @apply jtl-block;
          }
        }
      }
    }
  }

  /* Submenu */
  .jtl-submenu-wrap {
    @apply jtl-hidden hover:jtl-block jtl-absolute jtl-top-12 jtl-left-0 jtl-w-56 jtl-bg-white jtl-rounded jtl-shadow jtl-border-[1px] jtl-border-slate-100 jtl-border-t-2 jtl-border-t-jtlsecondary;

    /* Submenu Nav */
    .jtl-submenu-nav {
      > ul {
        @apply jtl-flex jtl-flex-col;

        > li {
          @apply jtl-border-b-[1px] jtl-border-b-slate-100;

          > a {
            @apply jtl-px-4 jtl-py-2 jtl-block;

            .jtl-text {
              @apply jtl-text-jtlprimary jtl-line-clamp-1;
            }

            &:hover {
              .jtl-text {
                @apply jtl-text-jtlsecondary;
              }
            }
          }

          &:last-child {
            @apply jtl-border-b-0;
          }
        }
      }
    }
  }
}

/* Dropdown nav */
.jtl-dropdown-nav {
  @apply jtl-hidden jtl-absolute jtl-top-[61px] jtl-w-full jtl-px-4 jtl-py-2 jtl-bg-white jtl-rounded-bl jtl-rounded-br jtl-shadow jtl-border-[1px] jtl-border-slate-100 jtl-border-b-2 jtl-border-b-jtlsecondary jtl-z-[9];

  ul {
    @apply jtl-overflow-y-auto;

    > li {
      @apply jtl-overflow-hidden jtl-border-b-[1px] jtl-border-b-slate-100;

      > a {
        @apply jtl-flex jtl-flex-row jtl-gap-4 jtl-justify-between jtl-items-center jtl-py-2;

        .jtl-text {
          @apply jtl-text-jtlprimary jtl-line-clamp-1;
        }

        .jtl-icon {
          @apply jtl-text-jtlprimary;
        }
      }

      > ul {
        @apply jtl-h-0;

        > li {
          @apply jtl-pl-4;
        }
      }

      &:last-child {
        @apply jtl-border-b-0;
      }

      &.active {
        > a {
          .jtl-text {
            @apply jtl-text-jtlsecondary;
          }

          .jtl-icon {
            @apply jtl-text-jtlsecondary jtl-rotate-180;
          }
        }

        > ul {
          @apply jtl-h-auto;
        }
      }
    }
  }

  &.active {
    @apply jtl-block;
  }
}

/* Buttons */
.jtl-button {
  @apply jtl-py-2 xl:jtl-py-3 jtl-px-4 xl:jtl-px-9 jtl-rounded jtl-space-x-2;

  .jtl-text {
    @apply jtl-font-urbanist jtl-font-semibold jtl-text-base;
  }

  &.primary {
    @apply jtl-bg-jtlsecondary;

    .jtl-text {
      @apply jtl-text-white;
    }

    .jtl-icon {
      @apply jtl-text-white;
    }
  }
}

/* Sections */
.jtl-section-title {
  @apply jtl-text-jtlprimary jtl-font-urbanist jtl-font-semibold jtl-text-2xl sm:jtl-text-3xl xl:jtl-text-5xl;
}

.jtl-section-subtitle {
  @apply jtl-max-w-5xl jtl-text-base sm:jtl-text-lg jtl-text-jtlgray;
}

.jtl-section-accent {
  @apply jtl-inline-block jtl-h-[3px] jtl-w-20 jtl-bg-jtlsecondary;
}

/* Empty content */
.jtl-content-empty {
  @apply jtl-p-4 jtl-border-l-2 jtl-border-l-jtlgray jtl-bg-slate-100/50 jtl-text-sm jtl-text-jtlgray jtl-inline-block;
}

/* END: GLOBAL */
/* ========================================================================================================================== */

/* ========================================================================================================================== */
/* SINGLE */

/* Content */
.jtl-title {
  @apply jtl-font-urbanist jtl-font-semibold jtl-text-2xl sm:jtl-text-3xl lg:jtl-text-4xl;
}

.jtl-content {
  @apply jtl-space-y-6 lg:jtl-space-y-8;

  h1, h2 {
    @apply jtl-font-urbanist jtl-font-semibold jtl-text-xl sm:jtl-text-2xl lg:jtl-text-3xl;
  }

  h3, h4, h5, h6 {
    @apply jtl-font-urbanist jtl-font-semibold jtl-text-lg sm:jtl-text-xl lg:jtl-text-2xl;
  }

  strong, b {
    @apply jtl-font-urbanist jtl-font-semibold jtl-text-jtlgray;
  }

  a {
    @apply jtl-text-jtlsecondary hover:jtl-text-jtlgray;
  }

  p {
    @apply jtl-text-base sm:jtl-text-lg jtl-text-jtlgray;
  }

  figure {
    @apply jtl-border-none;

    border-width: 0;
  }

  blockquote {
    @apply jtl-bg-slate-100 jtl-p-4 sm:jtl-p-6 jtl-rounded-2xl jtl-relative jtl-border-none jtl-space-y-3;

    border-width: 0;

    .jtl-blockquote-accent {
      @apply jtl-text-2xl jtl-absolute jtl-top-0 jtl-left-0 -jtl-ml-[calc(10.5px/2)] -jtl-mt-[calc(32px/2)] jtl-text-jtlsecondary;
    }

    p {
      @apply jtl-italic jtl-text-base sm:jtl-text-lg jtl-text-jtlgray;

      margin-top: 0 !important;
    }

    cite {
      @apply jtl-text-sm jtl-text-jtlgray jtl-inline-block jtl-normal-case;
    }
  }

  pre {
    @apply jtl-bg-slate-900 jtl-p-4 sm:jtl-p-6 jtl-rounded-2xl jtl-relative jtl-border-none jtl-text-jtllight;

    border-width: 0;

    code {
      @apply jtl-text-red-300;
    }
  }

  details {
    @apply jtl-space-y-3 lg:jtl-space-y-4 jtl-pl-6 lg:jtl-pl-8 jtl-border-l-2 jtl-border-l-slate-200 jtl-relative jtl-pb-6 lg:jtl-pb-8;;

    > summary {
      @apply jtl-list-none jtl-bg-jtlsecondary jtl-py-2 jtl-px-4 jtl-rounded-full jtl-inline-block jtl-text-white jtl-font-urbanist jtl-font-semibold jtl-text-sm;

      &:-webkit-details-marker {
        @apply jtl-hidden;
      }
    }

    h1, h2, h3, h4, h5, h6 {
      @apply jtl-font-urbanist jtl-font-semibold jtl-text-base sm:jtl-text-lg lg:jtl-text-xl;
    }

    p {
      @apply jtl-text-base jtl-text-jtlgray;
    }

    ul, ol {
      li {
        @apply jtl-text-base jtl-text-jtlgray;
      }
    }

    a {
      @apply jtl-text-base jtl-text-jtlsecondary hover:jtl-text-jtlgray;
    }

    .jtl-wrap-circle {
      @apply jtl-absolute -jtl-top-4 -jtl-left-[18px] jtl-bg-white jtl-w-9 jtl-h-9 jtl-flex jtl-justify-center jtl-items-center;

      .jtl-circle {
        @apply jtl-bg-white jtl-h-3 jtl-w-3 jtl-border-2 jtl-border-jtlsecondary jtl-inline-block jtl-rounded-full;
      }
    }

    &:not(.first) {
      margin-top: 0 !important;
    }

    &.last {
      @apply jtl-border-l-0;
    }
  }

  .wp-block-group {
    &:not(.first) {
      margin-top: 0 !important;
    }
  }

  /* details {
    @apply jtl-bg-jtllight jtl-rounded-2xl jtl-relative jtl-border-[1px] jtl-border-slate-200;

    summary {
      @apply jtl-p-4 sm:jtl-p-6 jtl-cursor-pointer jtl-text-base sm:jtl-text-lg jtl-font-urbanist jtl-font-semibold;
    }

    p {
      @apply jtl-p-4 jtl-pt-0 sm:jtl-p-6 sm:jtl-pt-0 jtl-text-base sm:jtl-text-lg;
    }
  } */

  img {
    @apply jtl-rounded-2xl;
  }

  ul, ol {
    @apply jtl-space-y-1 jtl-ml-4;

    li {
      @apply jtl-text-base sm:jtl-text-lg jtl-text-jtlgray;
    }
  }

  ol {
    @apply jtl-list-decimal;
  }

  ul {
    @apply jtl-list-disc;
  }

  hr {
    @apply jtl-border-slate-200;
  }

  table {
    @apply jtl-w-full jtl-border-[1px] jtl-border-jtlgray;

    tbody, thead {
      tr {
        td, th {
          @apply jtl-text-base sm:jtl-text-lg jtl-p-4 jtl-border-[1px] jtl-border-jtlgray;
        }
      }
    }
  }

  figcaption {
    @apply jtl-mt-3 jtl-text-sm jtl-text-jtlgray jtl-normal-case;
  }

  .jtl-content-empty {
    @apply jtl-p-4 jtl-border-l-2 jtl-border-l-jtlgray jtl-bg-slate-100/50 jtl-text-sm jtl-text-jtlgray jtl-inline-block;
  }
}

/* END: SINGLE */
/* ========================================================================================================================== */